{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>SKIBISHOP</title>
{% endblock meta %}
{% block content %}
{% include 'navbar.html' %}
<div class="overflow-x-hidden px-4 md:px-8 pb-8 pt-24 min-h-screen bg-pink-100 flex flex-col"
     style="background-image: url('{% static 'image/background3.jpg' %}'); background-size: cover; background-position: center; background-repeat: no-repeat;">
  <img src="{% static 'image/confuse.png' %}" alt="luffy" class="absolute top-[100px] right-7 w-70 h-40">

 

  <div class="p-2 mb-6 relative">
    <div class="relative grid grid-cols-1 z-30 md:grid-cols-3 gap-8">
      {% include "card_info.html" with title='Name' value=name %}
      {% include "card_info.html" with title='Class' value=class %}
    </div>
</div>
    <div class="px-3 mb-4">
      <div class="flex rounded-md items-center bg-slate-800 py-2 px-4 w-fit">
        <h1 class="text-white text-center">Last Login: {{last_login}}</h1>
      </div>
    </div>
    <div class="flex justify-end mb-6">
        <a href="{% url 'main:create_food_entry' %}" class="bg-slate-800 hover:bg-slate-600 text-white font-bold py-2 px-4 rounded-lg transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105">
            Add New Food Entry
        </a>
    </div>
    
    {% if not food_entries %}
    <div class="flex flex-col items-center justify-center min-h-[24rem] p-6">
        <img src="{% static 'image/very-sad2.png' %}" alt="Sad face" class="w-32 h-32 mb-4"/>
        <p class="text-center text-slate-50 mt-4">There is no food data in SKIBISHOP.</p>
    </div>
    {% else %}
    <div class="columns-1 sm:columns-2 lg:columns-3 gap-6 space-y-6 w-full">
        {% for food_entry in food_entries %}
            {% include 'card_food.html' with food_entry=food_entry %}
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock content %}